<footer class="py-4 mt-auto bg-black text-white">
  <div class="container text-center">
    <p class="mb-2">Contact us</p>
    <div class="d-flex justify-content-center gap-3 fs-4">
      <a href="http://wa.me/201128641717" class="text-white"><i class="bi bi-whatsapp"></i></a>
      <a href="https://www.facebook.com/2ahmedhassan2" class="text-white"><i class="bi bi-facebook"></i></a>
      <a href="https://github.com/2ahmedhassan2/" class="text-white"><i class="bi bi-github"></i></a>
      <a href="https://www.instagram.com/2ahmedhassan2/" class="text-white"><i class="bi bi-instagram"></i></a>
      <a href="https://www.linkedin.com/in/2ahmedhassan2/" class="text-white"><i class="bi bi-linkedin"></i></a>
    </div>
    <div class="small mt-2">&copy; 2025 Ahmed Hassan. All rights reserved.</div>
  </div>
</footer>
